.header-box {
  display: flex;
  flex-direction: row;
}

.header-title {
  font-weight: 800;
  color: rgba(255, 255, 255, 0.65);
  margin-bottom: 0;
  margin-right: 20px;
}

.user-box {
  margin-left: auto;
}
