.home-side-head {
  font-size: 18px;
  color: #fafafa;
  padding: 10px 20px;
  text-align: center;
  font-weight: 600;
}

.home-content-box {
  width: 100%;
}

.home-content {
  margin: 20px;
  background: #fff;
  padding: 20px;
}

@font-face {
  font-family: 'code';
  src: url('/font/font.ttf');
}

* {
  font-family: code;
}
